body {
   font-family: Verdana, Helvetica, Arial;
   padding:0;
   margin:0;
   background-color: #000000;
   color:#00FF00;
 }
 #instructions {
   padding-left:.5em;
   font-size: 0.8em;
 }
 #feedback {
   color:red;
   margin: 0;
   padding: 0;
   font-size: 0.6em;
 } 
 #showhidelink {
   color:blue;
   text-decoration:none;
   font-size: 0.8em;
   padding-left: 3em;
 }
 #title {
   padding-left: 180px;
 }
 #turtle_buffer {
   display:block;
   background-color: #000000;
   border: 1px solid #00FF00;
   color: #00FF00;
   width:98%;
   height: 99%;
   margin:0;
   padding:1%;
 }

